.slide {
    transform: translateX(0%);
    user-select: none;
    transition: transform 300ms ease-in-out;
}

.prev .slide-enter {
    opacity: 1;
    transform: translateX(72vw);
}

.prev .slide-enter-active {
    z-index: 5;
    opacity: 1;
    transform: translateX(0%);
}

.prev .slide-exit {
    opacity: 0;
    transform: translateX(-72vw);
}

.next .slide-enter {
    opacity: 1;
    transform: translateX(-72vw);
}

.next .slide-enter-active {
    z-index: 5;
    opacity: 1;
    transform: translateX(0%);
}

.next .slide-exit {
    opacity: 0;
    transform: translateX(72vw);
}
